<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dane z Mapy UM Warszawa</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        .name-with-icon {
            display: flex;
            align-items: center;
        }

        .icon {
            max-height: 32px;
            max-width: 32px;
            margin-right: 5px;
        }

        .name {
            vertical-align: middle;
        }
    </style>
</head>
<body>
{% for collection in processedThemes %}
<h1>{{ collection.themeCollectionName }}</h1>
<table>
    <thead>
    <tr>
        <th>Warstwa (temat)</th>
        <th>Plik oryginalny</th>
        {% if collection.displayOsmTags %}
            <th>Tagi OpenStreetMap</th>
            <th>Plik po deduplikacji z OSM</th>
        {% endif %}
    </tr>
    </thead>
    {% for themeResult in collection.themes %}
    <tr>
        <td>
            <div class="name-with-icon">
                <img
                    class="icon"
                    src="./icons/{{ themeResult.theme.umKey }}.png"
                    alt="Ikona {{ themeResult.theme.umKey }}"
                    title="{{ themeResult.theme.umKey }}"
                    onerror="this.style.display='none'"
                />
                <span class="name">{{ themeResult.theme.name }}</span>
            </div>
        </td>
        <td>
            <a href="./testMap/{{ themeResult.theme.umKey }}.geojson" download>
                GeoJSON ({{ themeResult.size }})
            </a>
        </td>
        {% if collection.displayOsmTags %}
        <td>
            {% for rules in themeResult.osmTags %}
                {% for rule in rules %}
                    <code>{{ rule }}</code>
                {% endfor %}
            {% endfor %}
            {% if themeResult.osmTags == [] %}
                <em>Brak</em>
            {% endif %}
        </td>
        <td>
            {% if themeResult.deduplicatedSize == "45B" %}
                <em>Zmapowane</em>
            {% elif themeResult.deduplicatedSize %}
                <a href="./deduplicated/{{ themeResult.theme.umKey }}.geojson" download>
                    GeoJSON ({{ themeResult.deduplicatedSize }})
                </a>
            {% else %}
                <em>Brak</em>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endfor %}
<footer>
    Początek generowania: {{ startTime }}. Zajęło {{ generationSeconds }} sekund.
    Źródło danych: <a href="https://testmapa.um.warszawa.pl/">Mapa UM Warszawa</a>. <br/>
    Kod na <a href="https://github.com/starsep/mapaUMWarszawa2GeoJSON">GitHubie</a>. Proszę tam zgłaszać błędy w skrypcie.
</footer>
</body>
</html>
